body {
      font-family: sans-serif;
      padding: 20px;
      background-color:cornflowerblue;
    }
button {
    font-size: 25px;
    margin-bottom: 10px;
}
    .tabs button {
      padding: 10px 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 30px;
    }
h1 {
    font-size: 50px;
}
p {
    font-size: 30px;
}
    .tab-content {
      display: none;
      margin-top: 10px;
      
    }

    .tab-content.active {
      display: block;
    }

    .product-btn {
      margin: 5px;
      padding: 10px 15px;
      background-color: #eee;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    #orderList li {
      margin-bottom: 8px;
    }

    button {
      cursor: pointer;
      background-color: aliceblue;
    }

    #payButton {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: green;
    }

    .control-btns button {
      margin-left: 5px;
    }

    input[type="checkbox"] {
      margin-top: 10px;
    }
    hr {
        margin-top: 80px;
        margin-bottom: 10px;
    }
    label {
        font-size: 20px;
    }